@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


    @*vulnerable: https://localhost:7258/?q=%3Cscript%3Ealert(%22hi%22)%3C/script%3E*@
    <p>@Html.Raw(Request.Query["q"])</p>

    @*vulnerable unsanitized: https://localhost:7258/?data=%3Cscript%3Ealert(%22hi%22)%3C/script%3E*@
    <p>@Html.Raw(Model.unsanitizedData)</p>
    <p>@Html.Raw(Model.sanitizedData)</p>

</div>
